@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* add right border to sidebar in notebook layout */
aside {
  border-right: 1px solid var(--color-fd-border);
}
